# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/

# IDE / Editor
.idea/
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Playwright artifacts
playwright-report/
test-results/
screenshots/

# Logs / env
*.log
.env
.env.*